.edit-user-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: 20em;
  }

.edit-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background: linear-gradient(to right top, #fbf8f8, #8f94fb);
  width: 60%;

}

h2.user-header{
  margin-top: 7vh;
  font-weight: 700;
  font-style: oblique;
}

form.edit-page {
  border-radius: 10px;
  padding: 60px;
}