.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background: linear-gradient(to right top, #49a56c, #8f94fb);
    margin: 0;
    padding: 0;

}

.login-container {
    width: 300px; 
    padding: 10px; 
    border-radius: 10px;
    border: 2px solid #ccc;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form input {
    width: 100%;
    margin-bottom: 10px; /* Adjust margin between input fields */
    padding: 8px; /* Adjust padding for input fields */
  }
  
  .login-form button {
    width: 100%;
    padding: 10px; /* Adjust padding for button */
    background-color: #8f94fb; /* Adjust background color for button */
    color: #fff; /* Adjust text color for button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #555df7; /* Adjust background color on hover */
  }

  .login-button {
    width: 35%;
    padding: 10px; /* Adjust padding for button */
    background-color: #8f94fb; /* Adjust background color for button */
    color: #fff; /* Adjust text color for button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .login-button:hover {
    background-color: #555df7; 
  }

  .register {
    text-align: center;
  }

  .log-sign {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 750;
  }

