.main-override {
  position: block !important;
  padding: 0px !important;
  top: 0px !important;
  left: 0px !important;
  width: 100vw !important;
  margin-left: 0px !important;
  height: 100vh !important;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right top, #fbf8f8, #8f94fb);
  margin: none;
  padding: none;
}

.login-container {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  /* background-color: #b0b3f4; */
  background: linear-gradient(to right top, #8f94fb, #fbf8f8);
  /* border: 5px solid #ccc; */
  border: 2px solid #6b6b6b;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px; /* Adjust margin between input fields */
  padding: 8px; /* Adjust padding for input fields */
}

.login-form button {
  width: 100%;
  padding: 10px; /* Adjust padding for button */
  background-color: #6a71fa; /* Adjust background color for button */
  color: #fff; /* Adjust text color for button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #555df7; /* Adjust background color on hover */
}

.login-button {
  width: 35%;
  padding: 9px; /* Adjust padding for button */
  background-color: #6a71fa; /* Adjust background color for button */
  color: #fff; /* Adjust text color for button */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.login-button:hover {
  background-color: #555df7;
}

.register {
  text-align: center;
}

.log-sign {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 750;
}

.react-datepicker__navigation--previous {
  left: 1px !important;
  width: 1px !important; /* Adjust the left position of the previous month button */
}

.react-datepicker__navigation--next {
  right: 1px !important;
  width: 1px !important; /* Adjust the right position of the next month button */
}
