.btn-custom {
    background-color: #8f94fb;
    color:white;
    border: 0%;
   border-radius: 20px; /* Apply border-radius to make the button more rounded */
    padding: 10px 20px; /* Add padding to increase the size of the button */
    font-size: 20px;
    font-weight: 700;
}