.net-page {
  overflow: hidden;
}

.net-cont {
  padding-left: 20px;
  padding-top: none;
}

.user-card {
  border-radius: 30px;
  background-color: rgb(253, 238, 122);
}

.card {
  border: none !important;
  margin-bottom: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px !important;
  cursor: pointer;
}

.scrollable-column {
  overflow-y: auto;
  max-height: 100vh; 
  scrollbar-width: none;
}

.fixed-column {
  position: sticky; 
  top: 0; 
  height: 100vh; 
  overflow-y: auto; 
}

.net-page {
  overflow: hidden;
  padding-top: 20px;
}
