/* .container {
    text-align: center;
} */

.user-list {
    list-style: none; 
}

.user-item {
    display: flex; 

    align-items: center;
    margin-bottom: 10px;
}

h2.user-header {
    color:blue;
    max-width: 100% !important;
    padding-left: 10em;
    

}

ul.user-list {
    margin-top: 20px;
}

.user-man {
    margin-left: 20rem;
    margin-top: 7rem;
}

.user-button {
    margin-left: 25em;
    display: table;
}

li.user-item {
    font-weight: 700;
    font-size:larger;
    margin-left:25px;
    margin-top:20px;
    
}