/* .container {
    text-align: center;
} */

.user-list {
    list-style: none; 
    padding: 0;
}

.user-item {
    display: flex; 

    align-items: center;
    margin-bottom: 10px;
}

h2.user-header {
    color:blue;
    max-width: 100% !important;

}

ul.user-list {
    margin-top: 20px;
}

.user-man {
    margin-left: 20rem;
    margin-top: 7rem;
}

.user-button {
    margin-left: 30em;
}